/* General Page Style */

body {
background-color: #000000;
color: #0fba27;
}

h1 {
    color: #DEDFDD;
    }

    a {
        color: #9f9fa0;
    }

    h2 {
        color: #DEDFDD;
    }
    div {

width: 200px;

height: 100px;

background-color: #000000;

border: 25px solid #0fba27;

padding: 10px;

margin: 100px;

    }